<div class="contacts">
    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg> +7(919) 854-34-24</a>
    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-presentation"></use></svg> +7(919) 854-34-24</a>
    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-question"></use></svg> +7(919) 854-34-24</a>
    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-dialog"></use></svg> +7(919) 854-34-24</a>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <img class="footer__logo" src="img/logo-white.png" alt="">

            <div class="footer__title">О нас</div>
            <div class="footer__list">
                <a href="javascript:void(0)">—  О платформе</a>
                <a href="javascript:void(0)">—  Контакты</a>
            </div>

            <div class="footer__title">Документы</div>
            <div class="footer__list">
                <a href="javascript:void(0)">—  Договор оферты</a>
                <a href="javascript:void(0)">—  Политика конфиденциальностии <br> обработки персональных данных</a>
                <a href="javascript:void(0)">—  Маркетинг-кит</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__title">1. Нужен маркетолог</div>
            <div class="footer__list">
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
            </div>

            <div class="footer__title">2. Для маркетологов</div>
            <div class="footer__list">
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
                <a href="javascript:void(0)">—</a>
            </div>
        </div>
        <div class="footer__col">
            <div class="footer__title">Полезные материалы:</div>
            <div class="footer__list">
                <a href="javascript:void(0)">— Кейсы</a>
                <a href="javascript:void(0)">— Блог</a>
                <a href="javascript:void(0)">— Академия</a>
                <a href="javascript:void(0)">— Вебинары</a>
                <a href="javascript:void(0)">— Конференции</a>
            </div>

            <div class="footer__title">Документация:</div>
            <div class="footer__list">
                <a href="javascript:void(0)">—  Документация по платформе</a>
            </div>

            <p>Marketing Business Consult – это опытный взгляд <br> и бизнес-ориентированный подход.</p>

            <div class="footer__social">
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-fb-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-inst-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-ok-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-vk-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-twitter-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-pinterest-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-youtube-circle"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-in-circle"></use></svg></a>
            </div>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">
        <div><a href="javascript:void(0)">Все права защищены</a></div>
        <div>
            <a href="javascript:void(0)">Политика конфидениальности </a>
            <a href="javascript:void(0)">Договор оферты </a>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="js/svgxuse.min.js"></script>
<!-- <script src="js/jquery.mask.min.js"></script> -->
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
</body>
</html>