<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-left">
                <a href="javascript:void(0)" class="header__company">MBC | Marketing Business Consult</a>
                <div class="header__divider"></div>
                <div class="header__social">
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-vk-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-fb-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-inst-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-ok-circle"></use></svg></a>
                    <a href="javascript:void(0)" class="mobile"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-telegram-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-twitter-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-youtube-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-in-circle"></use></svg></a>
                    <a href="javascript:void(0)" class="mobile"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-yandex-circle"></use></svg></a>
                    <a href="javascript:void(0)" class="mobile"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-medium-circle"></use></svg></a>
                    <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-pinterest-circle"></use></svg></a>
                </div>
            </div>
            <div class="header__eye">
                <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-eye"></use></svg>
            </div>
            <div class="header__top-right">
                <a href="javascript:void(0)" class="btn btn-outline-white">Бесплатный аудит проекта</a>
                <div class="header__divider"></div>
                <a class="header__login" href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-user"></use></svg> <span>Войти в личный кабинет</span></a>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__menu">
                <div class="header__left">
                    <a href="javascript:void(0)">Маркетологи</a>
                    <a href="javascript:void(0)">По Услугам</a>
                    <a href="javascript:void(0)">Проекты</a>
                    <a href="javascript:void(0)">Вакансии</a>
                </div>
                <div class="header__right">
                    <div class="header__links">
                        <a href="javascript:void(0)">Кейсы</a>
                        <a href="javascript:void(0)">Блог</a>
                        <a href="javascript:void(0)">Контакты</a>
                    </div>
                    <a href="javascript:void(0)" class="btn">ОБУЧЕНИЕ</a>
                </div>
            </div>
            <a href="javascript:void(0)" class="header__logo"><img src="img/logo.png" alt=""></a>
        </div>
    </div>
</header>